.cars{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 150px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
.car-wrap{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* position: relative; */
}
.car-img{
    border-radius: 5%;
    /* object-fit: cover;
    width: 22vw; */
}
.car-info{
    display: flex;
    justify-content: space-between;
}
.car-rating{
    display: flex;
}
.car-star{
    color: gold;
}
